new_todo:
  target:
    entity:
      integration: ms365_todo
      domain: todo
  fields:
    subject:
      example: Pick up the mail
      required: true
      selector:
        text:
    description:
      example: Walk to the post box and collect the mail
      selector:
        text:
    due:
      example: '"2025-01-01"'
      selector:
        date:
    reminder:
      example: "2025-01-01T12:00:00+0000"
      selector:
        datetime:

update_todo:
  target:
    entity:
      integration: ms365_todo
      domain: todo
  fields:
    todo_id:
      example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      required: true
      selector:
        text:
    subject:
      example: Pick up the mail
      selector:
        text:
    description:
      example: Walk to the post box and collect the mail
      selector:
        text:
    due:
      example: '"2025-01-01"'
      selector:
        date:
    remove_due:
      example: false
      required: false
      selector:
        boolean:
    reminder:
      example: "2025-01-01T12:00:00+0000"
      selector:
        datetime:
    remove_reminder:
      example: false
      required: false
      selector:
        boolean:

delete_todo:
  target:
    entity:
      integration: ms365_todo
      domain: todo
  fields:
    todo_id:
      example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      required: true
      selector:
        text:

complete_todo:
  target:
    entity:
      integration: ms365_todo
      domain: todo
  fields:
    todo_id:
      example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      required: true
      selector:
        text:
    completed:
      example: True
      required: true
      selector:
        boolean:

new_todo_checklist_item:
  target:
    entity:
      integration: ms365_todo
      domain: todo
  fields:
    todo_id:
      example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      required: true
      selector:
        text:
    name:
      example: Go to post office
      required: true
      selector:
        text:

update_todo_checklist_item:
  target:
    entity:
      integration: ms365_todo
      domain: todo
  fields:
    todo_id:
      example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      required: true
      selector:
        text:
    checklist_item_id:
      example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      required: true
      selector:
        text:
    status:
      required: true
      selector:
        select:
          translation_key: status
          options:
            - needs_action
            - completed
delete_todo_checklist_item:
  target:
    entity:
      integration: ms365_todo
      domain: todo
  fields:
    todo_id:
      example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      required: true
      selector:
        text:
    checklist_item_id:
      example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      required: true
      selector:
        text:
